.header {
	position: relative;
	padding: 40px 10px 20px;
	z-index: 1;
	//border-bottom: 1px solid #000;
	@include clearfix;

	.logo {
		float: left;

		.title {
			margin: 0;
			padding: 0 ;
			font-weight: normal;
			font-size: 36px;
			line-height: 36px;			
		}

		.subtitle {
			font-size: 16px;
			color: #888;
			margin: 0 0 10px;
			font-weight: normal;
		}

		a {
			color: #fff;
			text-decoration: none;
		}
	}	

	&:after {
		position: absolute;
		bottom: 0;
		display: block;
		content: "";
		border-top: 1px solid #000;
		border-bottom: 1px solid #2a2a2a;
		width: 100%;
	}

}

.no-generatedcontent .header {
	border-bottom: 1px solid #2a2a2a;
}