.timeline {

	text {
		fill: #ddd;
	}
	
	line {
		stroke: #404040;
		stroke-width: 1;
	}

	.year {
		stroke: #777;
		font-size: 12px;
	}

	circle {
		fill: transparent;
		stroke: #272727;
	}

	.arc {

		path {

			-webkit-transition-duration: 0.1s;
			
			&:hover {
				fill: #fff;
			}
		}

		&.skill path {
		 
		}



		.fade {
			opacity: 0.8;
		}

		.active {
			fill: #fff;
			opacity: 1;
		}

	}

}

.tooltip {
	display: none;
	
	position: absolute;
	z-index: 42;
	
	background-color: #000;
	background-color: rgba(0,0,0,0.7);
	border: 1px solid #000;
	-webkit-border-radius: 5px;
	padding: 5px 15px;

	.title {
		color: #fff;
		margin-bottom: 0;
	}

	.date {
		font-size: 12px;
	}
}

.visible {
	display: block;
	
}